/* Custom properties */
:root {
    /* Color */
    --primary-color: 15, 41%, 36%;
    --neutral-100: 48, 52%, 90%;
    --neutral-800: 168, 13%, 15%;

    /* Font Families */
    --roboto: "Roboto", sans-serif;
    --playfair:  'Playfair Display', serif;

    /* Font Sizes */
    --fs-sm: 1.125rem;
    --fs-md: 1.313rem;
    --fs-lg: 2rem;
    --fs-xl: 3.75rem;
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--roboto);
    font-size: var(--fs-md);
    color: var(--neutral-100);
}

img, .img {
    max-width: 100%;
}
/* ---------------- */
/* Utility Classes */
/* ---------------- */

/* Background Color
 */
 .bg-primary {
    background-color: hsl(var(--primary-color));
 }
 .bg-ntr-100 {
    background-color: hsl(var(--neutral-100));
 }
 .bg-ntr-800 {
    background-color: hsl(var(--neutral-800));
 }

 /* Colors */
 .clr-primary {
    color: hsl(var(--primary-color));
 }
 .clr-ntr-100 {
    color: hsl(var(--neutral-100));
 }
 .clr-ntr-800 {
    color: hsl(var(--neutral-800));
 }

 /* Font Families */
.roboto {
    font-family: var(--roboto);
}
.playfair {
    font-family: var(--playfair);
}

/* Font Sizes */
.fs-sm {
    font-size: var(--fs-sm);
}
.fs-md {
    font-size: var(--fs-md);
}
.fs-lg {
    font-size: var(--fs-lg);
}
.fs-xl {
    font-size: var(--fs-xl);
}

.txt--align-center {
    text-align: center;
}

.container {
    width: 80%;
    max-width: 70.5rem;
    margin-inline: auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--neutral-100);
    min-height: 660px;  
    background-color: hsl(var(--primary-color), 0.2);
}

.hero__text {
    width: 60%;
}

.hero__text h1 {
    font-family: var(--playfair);
    font-size: var(--fs-xl);
    margin-top: 1rem;
    color: hsl(var(--primary-color));
}

.hero__text p {
    font-family: var(--roboto);
    font-size: var(--fs-sm);
    color: hsl(var(--primary-color), .7);
    text-transform: uppercase;
    letter-spacing: .3rem;
}

/* Layout */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-container > * + * {
    margin-left: 3rem;
}
.flex-container > * {
    width: 50%;
}

.main {
    & .section {
        padding-block: 6rem;
    }

    & .section__text--title {
        font-size: var(--fs-lg);
        font-family: var(--playfair);
        margin-bottom: 2rem;
    }

    & .section__text--description {
        font-size: var(--fs-md);
        line-height: 1.5;
        text-align: left;
    }
}